{% extends 'base.html' %}

{% block conteudo %}

<H1>Escola Ativa</H1>
<hr>
Senha 123 <br>
Senha Hash = a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3
<hr>
<ul class="list-group">
    {% for usuario in usuarios %}
        <li class="list-group-item">Nome: {{usuario.nome}}</li>
        <li class="list-group-item">Telefone: {{usuario.telefone}}</li>
        <li class="list-group-item">Email: {{usuario.email}}</li>
        <li class="list-group-item">Ativo: {{usuario.ativo}}</li>
        {% for tipo_usuario in tipos_usuarios %}
            {% if usuario.id_tipo_usuario == tipo_usuario.id %}
                <li class="list-group-item">Tipo: {{tipo_usuario.nome}}</li>        
            {% endif %}
        {% endfor %}
        <hr>
    {% endfor %}
</ul>

{% endblock %}