{% extends 'base.html' %}

{% block conteudo %}

<h1>Missões</h1>
<hr class="border border-primary border-2 opacity-75">

<h2>{{current_user.nome}}</h2>
<hr class="border border-danger border-2 opacity-50">

<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
        data-bs-auto-close="outside">
        Criar Nova Missão
    </button>
    <form class="dropdown-menu p-4" method="post" action="">

        <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descricao" required>
    </div>
     <div class="mb-3">
        <label class="form-label">Pontos</label>
        <input type="number" class="form-control" name="pontos" required>
    </div>

        <button type="submit" class="btn btn-success">Criar</button>
    </form>
</div>


<!-- <h2>Cadastrar nova Missão</h2>
<form method="post" action="">
    <div class="mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" name="nome" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descrição</label>
        <input type="text" class="form-control" name="descricao" required>
    </div>
     <div class="mb-3">
        <label class="form-label">Pontos</label>
        <input type="number" class="form-control" name="pontos" required>
    </div>
    <button type="submit" class="btn btn-primary">Criar nova missão</button>
</form> -->
<hr class="border border-danger border-2 opacity-50">

<h2>Lista de missões</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Pontos</th>
        </tr>
    </thead>
    <tbody>
        {% for m in missoes %}
        <tr>
            <th scope="row">{{m.id}}</th>
            <td>{{m.nome}}</td>
            <td>{{m.descricao}}</td>
            <td>{{m.pontos}}</td>
            <td>
                <a href="{{url_for('missao_editar', id=m.id)}}" class="btn btn-primary">Editar</a> - 
                <a href="{{url_for('missao_apagar', id=m.id)}}" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<hr class="border border-primary border-2 opacity-50">

<a href="{{url_for('turmas')}}" class="btn btn-primary">Voltar</a>
{% endblock %}