{% extends 'base.html' %}

{% block conteudo %}

<h1>Editar turma {{turma.id}}</h1>
<form method="post" action="">
    <div class="mb-3">
        <label class="form-label">Grau</label>
        <input type="number" min="1" max="9" maxlength="1" step="1" pattern="\d*" name="grau" class="form-control" required placeholder="Insira um número de 1 a 9" value="{{turma.grau}}">
    </div>
    <div class="mb-3">
        <label class="form-label">Série</label>
        <input type="text" class="form-control" id="letraUnica" maxlength="1" pattern="[A-Z]"
            oninput="this.value = this.value.toUpperCase().replace(/[^A-Z]/g, '')" name="serie" required placeholder="Insira uma letra de A a Z" value="{{turma.serie}}">
    </div>
    <div class="mb-3">
        <fieldset>
            Selecione o período:<br>
            
            <input type="radio" id="manha" name="periodo" value="Manhã" {% if turma.periodo == 'Manhã' %} checked {% endif %}>
            
            <label for="manha">Manhã</label><br>

            <input type="radio" id="tarde" name="periodo" value="Tarde" {% if turma.periodo == 'Tarde' %} checked {% endif %}>
            <label for="tarde">Tarde</label><br>

            <input type="radio" id="noite" name="periodo" value="Noite" {% if turma.periodo == 'Noite' %} checked {% endif %}>
            <label for="noite">Noite</label>
        </fieldset>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>



{% endblock %}