{% extends 'base.html' %}

{% block conteudo %}
<div class="content">
  <h1>Registrar Usuário</h1>
  <hr>
  <form action="" method="post">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" name="nomeForm" id="" required><br>
    <label class="form-label">Telefone</label>
    <input type="text" class="form-control" name="telefoneForm" required id=""><br>
    <label class="form-label">Email</label>
    <input type="text" class="form-control" name="emailForm" id="" required><br>
    <label class="form-label">Senha</label>
    <input type="password" class="form-control" name="senhaForm" id="" required><br>

    <hr>
    <label class="form-label">Selecione qual o tipo de usuário</label>
    <select class="custom-select form-control" id="inputGroupSelect02" name="tipo_usuarioSelect" required>
      <!-- <option selected>Selecione o tipo de usuário</option> -->
      {% for tipo_usuario in tipos_usuarios %}
        <option value="{{tipo_usuario.id}}">{{tipo_usuario.nome}}</option>
      {% endfor %}  
    </select>
    
    <hr>
    <input type="submit" class="btn btn-primary" value="Cadastrar Usuário">
  </form>

{% endblock %}