{% extends 'base.html' %}

{% block conteudo %}
<div class="content">
  <h1>Registrar Usuário</h1>
  <hr>
  <form action="" method="post">
    <label class="form-label">Nome</label>
    <input type="text" class="form-control" name="nomeForm" id="" required><br>
    <label class="form-label">Telefone</label>
    <input type="text" class="form-control" name="telefoneForm" required id=""><br>
    <label class="form-label">Email</label>
    <input type="text" class="form-control" name="emailForm" id="" required><br>
    <label class="form-label">Senha</label>
    <input type="password" class="form-control" name="senhaForm" id="" required><br>

    <hr>
    <label class="form-label">Selecione qual o tipo de usuário</label>
    <select class="custom-select form-control" id="inputGroupSelect02" name="tipo_usuarioSelect" required>
      <!-- <option selected>Selecione o tipo de usuário</option> -->
      {% for tipo_usuario in tipos_usuarios %}
        <option value="{{tipo_usuario.id}}">{{tipo_usuario.nome}}</option>
      {% endfor %}  
    </select>
    
    <hr>
    <input type="submit" class="btn btn-primary" value="Cadastrar Usuário">
  </form>
<hr>
<h2>Lista de usuários</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
            <th scope="col">Ativo</th>
            <th scope="col">Tipo de Usuário</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for u in usuarios %}
        {% if not u.nome == 'Mestre'%}
        <tr>
            <th scope="row">{{u.id}}</th>
            <td>{{u.nome}}</td>
            <td>{{u.telefone}}</td>
            <td>{{u.email}}</td>
            <td>{{u.ativo}}</td>
            <td>{{u.tipo_usuario.nome}}</td>
            <td>
                <a href="{{url_for('usuario_editar', id=u.id)}}" class="btn btn-primary">Editar</a> - 
                <a href="" class="btn btn-danger">Apagar</a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}